<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>Sketsa House – Company Profile</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="Sketsa House">
        <!-- description -->
        <meta name="description" content="Sketsa House over than 3 years experience for Public Relation, Creative, Media (Journalism), Design, Video Production, Creative Concept and Event Organizer for online or offline event">
        <!-- keywords -->
        <meta name="keywords" content="sketsa house,sketsa,house">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="css/magnific-popup.css" />
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body class="bg-background-fade">
        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav navbar-top header-light bg-transparent nav-box-width white-link">
                <div class="container-fluid nav-header-container">
                    <div class="row">
                        <!-- start logo -->
                        <div class="col-md-2 col-xs-5">
                            <a href="/" title="Pofo" class="logo"><img src="images/logo-sketsa2.png" data-at2x="images/logo@2x.png" class="logo-dark" alt="Pofo"><img src="images/logo-sketsa1.png" data-at2x="images/logo-white@2x.png" alt="Pofo" class="logo-light default"></a>
                        </div>
                        <!-- end logo -->
                        <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
                            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                                <span class="sr-only">toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                                <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                                    <!-- start menu item -->
                                    <li class="dropdown megamenu-fw">
                                        <a href="/">Home</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                    <li class="dropdown simple-dropdown">
										<a href="/services">Services</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                    <li class="dropdown megamenu-fw">
                                        <a href="/portofolio">Portofolio</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                    <li class="dropdown simple-dropdown">
										<a href="/blog?skip=0&limit=10" title="Blog">Blog</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                    <li class="dropdown megamenu-fw">
                                        <a href="/aboutus">About Us</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                    <li class="dropdown megamenu-fw">
                                        <a href="/contact">Contact</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-5 width-auto">
                            <div class="header-social-icon xs-display-none">
                                <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://dribbble.com/" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>                          
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end navigation -->  
        </header>
        <!-- end header -->
        <!-- start hero section -->
        <section class="wow fadeIn no-padding cover-background color-code" data-color="1">
            <div class="full-screen position-relative">
                <div class="slider-typography text-left">
                    <div class="slider-text-middle-main">
                        <div class="slider-text-middle">
                            <div class="col-lg-7 col-md-6 col-sm-6 center-col text-center" style="float:left;">
                                <span class="after-before-separator text-extra-small alt-font text-white letter-spacing-3 xs-letter-spacing-0 text-uppercase margin-20px-bottom xs-margin-5px-bottom display-inline-block">we work hard, we play hard</span>
                                <h2 class="font-weight-600 text-white alt-font margin-40px-bottom xs-margin-25px-bottom">We combine design, thinking and technical</h2>
                                <a href="/portofolio" class="btn btn-transparent-white btn-rounded btn-medium text-link-white">Featured Works</a>
                            </div>
                            <img style="float: right;" class="col-lg-5 col-md-6 col-sm-6" src="images/logo-02.jpg">
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <!-- end hero section -->
        <!-- start section -->
        <section class="wow fadeIn color-code md-no-background-img" data-color="2" style="background: url('images/back-image1.png') left bottom no-repeat,url('images/back-image7.png') right top no-repeat">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-10 col-sm-10 col-xs-12 center-col text-center xs-padding-15px-lr">
                        <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">about branding agency</div>
                        <h5 class="text-white alt-font width-100 sm-width-100 margin-70px-bottom sm-no-margin-bottom" style="font-family: 'Quicksand', sans-serif; font-size: 20px;">Sketsa House over than 3 years experience for Public Relation, Creative, Media
                        (Journalism), Design, Video Production, Creative Concept and Event Organizer for
                        online or offline event. Every small part of our creativity always start with talk, and
                        detailing analitic sceme of our clients</h5>
                        <h5 class="text-white alt-font width-100 sm-width-100 margin-70px-bottom sm-no-margin-bottom" style="font-family: 'Quicksand', sans-serif; font-size: 20px;">We do create a many possibility for you or your companies to grow getting bigger
and bigger with customer satisfacition impact for your companies. We take pride in
delivering Intelligent Designs and Engaging Experiences for clients.</h5>
                    </div>
                </div>
            </div>
        </section>
        <section class="wow fadeIn animated color-code no-padding-top md-no-background-img xs-padding-50px-tb" data-color="3" style="background: url('images/back-image2.png') right bottom no-repeat">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-10 col-xs-12 center-col text-center">
                        <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">Recent Blogs</div> 
                    </div>
                </div> 
                <div class="row equalize xs-equalize-auto">
                    <!-- start blog post item -->
                    {{#each data}}
                        <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-15px-bottom wow fadeIn">
                            <div class="blog-post blog-post-style6 border-all border-white-light padding-fourteen-all md-padding-ten-all xs-padding-30px-all inner-match-height">
                                <div class="post-details">
                                    <span class="text-extra-small text-white text-uppercase display-block margin-four-bottom sm-margin-two-bottom opacity7">{{time}}</span>
                                    <span class="text-large alt-font margin-50px-bottom xs-margin-30px-bottom display-block inner-match-height"><a href="/blog/{{title}}" style="font-family: 'Quicksand', sans-serif; font-size: 20px;" class="text-white">
                                        {{{description}}}
                                    </a></span>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start portfolio section -->
        <section class="wow fadeIn color-code no-padding xs-padding-50px-tb" data-color="4"> 
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9 col-sm-10 col-xs-12 center-col text-center">
                        <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">Selected Works</div> 
                    </div>
                </div> 
                <div class="row">
                    <div class="filter-content overflow-hidden padding-100px-lr sm-no-padding-lr xs-padding-15px-lr">
                        <ul class="portfolio-grid work-3col hover-option8 gutter-medium">
                            <li class="grid-sizer"></li>
                            {{#each portofolio}}
                                <li class="grid-item web branding design wow fadeInUplast-paragraph-no-margin">
                                    <a href="/portofolio/{{_id}}">
                                        <figure>
                                            <div class="portfolio-img"><img src="uploads/portofolio/{{image}}" alt="" style="width: 400px; height: 340px;"/></div>
                                            <figcaption>
                                                <div class="portfolio-hover-main">
                                                    <div class="portfolio-hover-box vertical-align-middle"> 
                                                        <div class="portfolio-icon alt-font font-weight-600 icon-medium text-deep-pink">+</div>
                                                        <span class="text-medium alt-font text-extra-dark-gray margin-5px-bottom">{{client}}</span>
                                                        <p class="text-small no-letter-spacing text-medium-gray">{{services}}</p>
                                                    </div>
                                                </div> 
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end blog section -->
        <!-- start clients logo section  -->
        <section class="color-code no-padding-tb xs-padding-50px-tb" data-color="5">
            <div class="container"> 
                <div class="row">
                    <div class="col-md-9 col-sm-10 col-xs-12 center-col text-center">
                        <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">Our Clients</div> 
                    </div>
                </div> 
                <div class="row text-center">
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 margin-three-bottom xs-margin-15px-bottom wow fadeInDown">
                        <a href="https://www.suzuki.co.id/" target="_blank"><img src="images/logo-9.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 margin-three-bottom xs-margin-15px-bottom wow fadeInDown" data-wow-delay="0.2s">
                        <a href="http://www.toyota.astra.co.id/" target="_blank"><img src="images/logo-10.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 margin-three-bottom xs-margin-15px-bottom wow fadeInDown" data-wow-delay="0.4s">
                        <a href="http://www.yamaha-motor.co.id/" target="_blank"><img src="images/logo-11.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 margin-three-bottom xs-margin-15px-bottom wow fadeInDown" data-wow-delay="0.6s">
                        <a href="http://www.tvsmotor.co.id/" target="_blank"><img src="images/logo-12.png" alt=""></a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-15px-bottom wow fadeInDown" data-wow-delay="0.8s">
                        <a href="https://www.nissan.co.id/" target="_blank"><img src="images/logo-13.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-15px-bottom wow fadeInDown" data-wow-delay="1s">
                        <a href="https://www.datsun.co.id/" target="_blank"><img src="images/logo-14.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-15px-bottom wow fadeInDown" data-wow-delay="1.2s">
                        <a href="http://yokohama.co.id/" target="_blank"><img src="images/logo-15.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                    <!-- start client logo item -->
                    <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInDown" data-wow-delay="1.4s">
                        <a href="http://daihatsu.co.id/" target="_blank"><img src="images/logo-16.png" alt=""></a>
                    </div>
                    <!-- end client logo item -->
                </div>
            </div>
        </section>
        <!-- end client logo section -->
        <!-- start contact section -->
        <section class="wow fadeIn animated color-code md-no-background-img" data-color="6" style="background: url('images/back-image6.png') right top no-repeat,url('images/back-image3.png') left bottom no-repeat">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-10 col-xs-12 center-col text-center wow fadeIn">
                        <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">Fill out the form and we'll be in touch soon!</div> 
                    </div>
                </div>
                <form id="contact-form" action="/add" method="post">
                    <div class="row">
                        <div class="col-md-8 center-col input-border-white text-center">
                            <div id="success-contact-form" class="no-margin-lr"></div>
                            <input type="text" name="name" id="name" placeholder="Name*" class="input-border-bottom border-white-light" required>
                            <input type="text" name="email" id="email" placeholder="E-mail*" class="input-border-bottom border-white-light" required>
                            <input type="text" name="subject" id="subject" placeholder="Subject" class="input-border-bottom border-white-light">
                            <textarea name="comment" id="comment" placeholder="Your Message" class="input-border-bottom border-white-light" required></textarea>
                            <button id="contact-us-button" type="submit" class="btn btn-very-small btn-transparent-white xs-margin-15px-top">send message</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- end contact section -->
        <!-- start footer --> 
        <footer class="footer-center-logo padding-five-tb xs-padding-30px-tb">
            <div class="container">
                <div class="row equalize xs-equalize-auto">
                    <!-- start copyright -->
                    <div class="col-md-4 col-sm-5 col-xs-12 text-small text-center alt-font display-table xs-text-center xs-margin-15px-bottom">
                        <div class="display-table-cell vertical-align-middle text-white">
                            &COPY; 2017 Sketsa House is Powered by <a class="text-white" href="" target="_blank">Sketsa House</a>.
                        </div>
                    </div>
                    <!-- end copyright -->
                    <!-- start logo -->
                    <div class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="/"><img class="footer-logo" src="images/logo-sketsa1.png" data-at2x="images/logo-sketsa2.png" alt=""></a>
                        </div>
                    </div>
                    <!-- end logo -->
                    <!-- start social media -->
                    <div class="col-md-4 col-sm-5 col-xs-12 text-center display-table xs-text-center">
                        <div class="display-table-cell vertical-align-middle text-white">
                            <span class="alt-font text-small margin-20px-right">On social networks</span>
                            <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                                <ul class="small-icon no-margin-bottom">
                                    <li><a class="facebook text-white" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a class="twitter text-white" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="google text-white" href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="instagram text-white" href="https://instagram.com/" target="_blank"><i class="fa fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end social media -->
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/skrollr.min.js"></script>
        <script type="text/javascript" src="js/smooth-scroll.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="js/bootsnav.js"></script>
        <script type="text/javascript" src="js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="js/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="js/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="js/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="js/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="js/classie.js"></script>
        <script type="text/javascript" src="js/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <!-- equalize -->
        <script type="text/javascript" src="js/equalize.min.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="js/skill.bars.jquery.js"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="js/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
        <!-- instagram -->
        <script type="text/javascript" src="js/instafeed.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="js/retina.min.js"></script>
        <!-- revolution -->
        <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>