<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
	  	<meta name="author" content="Sketsa">
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<script src="../tinymce/js/tinymce/tinymce.min.js"></script>
		<script>tinymce.init({ selector:'textarea' });</script>
		<style> 
			input[type=text],input[type=file],#opti {
			    width: 100%;
			    padding: 12px 20px;
			    margin: 8px 0;
			    box-sizing: border-box;
			}
			.button2 {
			    background-color: white; 
			    color: black; 
			    border: 2px solid #008CBA;
			    width: 100%;
			    padding: 12px 20px;
			    margin: 8px 0;
			}
			.button2:hover {
			    background-color: #008CBA;
			    color: white;
			}
			table {
			    border-collapse: collapse;
			    width: 100%;
			}

			th, td {
			    text-align: left;
			    padding: 8px;
			}
			tr:nth-child(even) {background-color: #f2f2f2;}
			tinymce.init({
			  selector: 'textarea',  // change this value according to your HTML
			  forced_root_block : 'p'
			});
		</style>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		 <!-- Bootstrap Core CSS -->
		<link href="admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
			<!-- Custom CSS -->
		<link href="admin/css/style.css" rel='stylesheet' type='text/css' />
			<!-- Graph CSS -->
		<link href="admin/css/font-awesome.css" rel="stylesheet"> 
			<!-- jQuery -->
		<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
			<!-- lined-icons -->
		<link rel="stylesheet" href="admin/css/icon-font.min.css" type='text/css' />
			<!-- /js -->
		<script src="admin/js/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/jquery.dataTables.min.css">
	  	<script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
	  	<script type="text/javascript">
	  		$(document).ready(function(){
			    $('#myTable').DataTable();
			});
	  	</script>
	</head> 
<body>
   	<div class="page-container">
   	<!--/content-inner-->
		<div class="left-content">
	   		<div class="inner-content">
			<!-- header-starts -->
				<div class="header-section">
					<div class="clearfix"></div>
				</div>
					<div class="outter-wp">
						<div class="graph-visual tables-main">
							<h4 style="color: red;">{{pesan}}</h4>
							<h3>Form Portofolio</h3>
							<div>
								<form action="/portofolioadmin/add" method="post" enctype="multipart/form-data">
								    <label for="title">Job Name</label><br>
								    <input type="text" name="job_name" placeholder="Job Name.." required><br>

								    <label for="keyword">Client</label><br>
								    <input type="text" name="client" placeholder="Client .." required><br>

								    <label for="keyword">Services</label><br>
								    <select name="services" id="opti">
								    	<option>-Pilih Services-</option>
								    	<option value="Website Development">Website Development</option>
								    	<option value="E-Commerce Development">E-Commerce Development</option>
								    	<option value="Social Media Content &amp; Admin">Social Media Content &amp; Admin</option>
								    	<option value="Media Cordinator">Media Cordinator</option>
								    	<option value="Digital Marketing Strategic &amp; Analitic">Digital Marketing Strategic &amp; Analitic</option>
								    	<option value="Video Production (Vlog, Tutorial, Company Profile, others)">Video Production (Vlog, Tutorial, Company Profile, others)</option>
								    	<option value="Graphic Design for Digital or Printing">Graphic Design for Digital or Printing</option>
								    	<option value="Creative Activation for online or offline">Creative Activation for online or offline</option>
								    	<option value="Event Organizer">Event Organizer</option>
								    </select>
								    <br>

								    <label for="keyword">Image</label><br>
								    <input type="file" name="image" placeholder="Image .." required><br>

								    <label for="description">Description</label>
								    <textarea name="description"></textarea>
								    
								    <input type="hidden" name="admin" value="{{admin}}">

								    <input type="submit" class="button button2" value="Submit">
								</form>
							</div>
							<h3 class="inner-tittle two">Portofolio Table </h3>
							<div class="graph">
								<div class="tables">
									<table id="myTable" class="table table-bordered" width="100%" cellspacing="0">
										<thead> 
											<tr> 
												<th width=10%>Job Name</th>
											    <th width=10%>Client</th>
											    <th width=10%>Service</th>
											    <th width=40%>Description</th>
											    <th width=20%>Image</th>
											    <th width=10%>Action</th>
											</tr> 
										</thead> 
										<tbody> 
											{{#each data}}
												<tr> 
													<td>{{job_name}}</td>
												    <td>{{client}}</td>
												    <td>{{services}}</td>
												    <td><p>{{{description}}}</p></td>
												    <td><img src="../uploads/portofolio/{{{image}}}" width=100 height=100 /></td>
												    <td>
												    	<form action="/portofolioadmin/hapus" method="post" style="float:left;">
												    		<input type="hidden" name="_id" value="{{_id}}">
												    		<input type="hidden" name="admin" value="{{admin}}">
												    		<button type="submit">Hapus</button>
												    	</form>
												    </td> 
												</tr> 
											{{/each}}
										</tbody> 
									</table> 
								</div>
							</div>
						</div>
					</div>
				
			</div>
		</div>
		<div class="sidebar-menu">
			<header class="logo">
				<a href="#" class="sidebar-icon"> 
					<span class="fa fa-bars"></span> 
				</a> 
				<a href=""> 
					<span id="logo"> 
						<h1>Admin</h1>
					</span> 
				</a> 
			</header>
			<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
			<div class="menu">
				<ul id="menu" >
					<li>
						<a href="/admin?admin={{admin}}">
							<i class="fa fa-laptop"></i> <span>Blog</span> 
						</a>
					</li>
					<li>
						<a href="/masukan?admin={{admin}}">
							<i class="fa fa-file-text-o"></i> <span>Masukan</span> 
						</a>
					</li>
					<li>
						<a href="/portofolioadmin?admin={{admin}}">
							<i class="fa fa-file-text-o"></i> <span>Portofolio</span> 
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>		
	</div>
	<script>
		var toggle = true;
		$(".sidebar-icon").click(function() {
			if(toggle){
				$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
				$("#menu span").css({"position":"absolute"});
			} else {
				$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
				setTimeout(function() {
					$("#menu span").css({"position":"relative"});
				}, 400);
			}
			toggle = !toggle;
		});
	</script>
	<script src="admin/js/jquery.nicescroll.js"></script>
	<script src="admin/js/scripts.js"></script>
   	<script src="admin/js/bootstrap.min.js"></script>
</body>
</html>