<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
	  	<meta name="author" content="Sketsa">
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<script src="../tinymce/js/tinymce/tinymce.min.js"></script>
		<script>tinymce.init({ selector:'textarea' });</script>
		<style> 
			input[type=text],input[type=file] {
			    width: 100%;
			    padding: 12px 20px;
			    margin: 8px 0;
			    box-sizing: border-box;
			}
			.button2 {
			    background-color: white; 
			    color: black; 
			    border: 2px solid #008CBA;
			    width: 100%;
			    padding: 12px 20px;
			    margin: 8px 0;
			}
			.button2:hover {
			    background-color: #008CBA;
			    color: white;
			}
			table {
			    border-collapse: collapse;
			    width: 100%;
			}

			th, td {
			    text-align: left;
			    padding: 8px;
			}
			tr:nth-child(even) {background-color: #f2f2f2;}
			tinymce.init({
			  selector: 'textarea',  // change this value according to your HTML
			  forced_root_block : 'p'
			});
		</style>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		 <!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
			<!-- Custom CSS -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
			<!-- Graph CSS -->
		<link href="css/font-awesome.css" rel="stylesheet"> 
			<!-- jQuery -->
		<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
			<!-- lined-icons -->
		<link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
			<!-- /js -->
		<script src="js/jquery-1.10.2.min.js"></script>
		<!-- //js-->
	  	<link rel="stylesheet" type="text/css" href="../css/jquery.dataTables.min.css">
	  	<script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
	  	<script type="text/javascript">
	  		$(document).ready(function(){
			    $('#myTable').DataTable();
			});
	  	</script>
	</head> 
<body>
   	<div class="page-container">
   	<!--/content-inner-->
		<div class="left-content">
	   		<div class="inner-content">
			<!-- header-starts -->
				<div class="header-section">
					<div class="clearfix"></div>
				</div>
					<div class="outter-wp">
						<div class="graph-visual tables-main">
							<h4 style="color: red;">{{pesan}}</h4>
							<h3>Form Blog</h3>
							<div>
								<form action="/admin/add" method="post" enctype="multipart/form-data">
								    <label for="title">Title</label><br>
								    <input type="text" name="title" placeholder="Title Blog.." required><br>

								    <label for="keyword">Keywords</label><br>
								    <input type="text" name="keyword" placeholder="Keywords .." required><br>

								    <label for="keyword">Image</label><br>
								    <input type="file" name="image" placeholder="Image .." required><br>

								    <label for="description">Description</label>
								    <textarea name="description"></textarea>
								    
								    <input type="hidden" name="time">
								    <input type="hidden" name="admin" value="{{admin}}">

								    <input type="submit" class="button button2" value="Submit">
								</form>
							</div>
							<h3 class="inner-tittle two">BLog Table </h3>
							<div class="graph">
								<div class="tables">
									<table id="myTable" class="table table-bordered" width="100%" cellspacing="0"> 
										<thead> 
											<tr> 
												<th width=20%>Title</th>
											    <th width=10%>Keywords</th>
											    <th width=20%>Description</th>
											    <th width=20%>Time</th>
											    <th width=10%>Gambar</th>
											    <th width=20%>Action</th>
											</tr> 
										</thead> 
										<tbody> 
											{{#each data}}
												<tr> 
													<td>{{title}}</td>
												    <td>{{keyword}}</td>
												    <td><p>{{{description}}}</p></td>
												    <td>{{time}}</td>
												    <td><img src="../uploads/{{{image}}}" width=100 height=100 /></td>
												    <td>
												    	<form action="/admin/hapus" method="post" style="float:left;">
												    		<input type="hidden" name="_id" value="{{_id}}">
												    		<input type="hidden" name="admin" value="{{admin}}">
												    		<button type="submit">Hapus</button>
												    	</form>
												    	<form action="/admin/edit"  method="post" style="float:left;">
												    		<input type="hidden" name="_id" value="{{_id}}">
												    		<input type="hidden" name="admin" value="{{admin}}">
												    		<button>Edit</button>
												    	</form>
												    </td> 
												</tr> 
											{{/each}}
										</tbody> 
									</table> 
								</div>
							</div>
						</div>
					</div>
				
			</div>
		</div>
		<div class="sidebar-menu">
			<header class="logo">
				<a href="#" class="sidebar-icon"> 
					<span class="fa fa-bars"></span> 
				</a> 
				<a href=""> 
					<span id="logo"> 
						<h1>Admin</h1>
					</span> 
				</a> 
			</header>
			<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
			<div class="menu">
				<ul id="menu" >
					<li>
						<a href="/admin?admin={{admin}}">
							<i class="fa fa-laptop"></i> <span>Blog</span> 
						</a>
					</li>
					<li>
						<a href="/masukan?admin={{admin}}">
							<i class="fa fa-file-text-o"></i> <span>Masukan</span> 
						</a>
					</li>
					<li>
						<a href="/portofolioadmin?admin={{admin}}">
							<i class="fa fa-file-text-o"></i> <span>Portofolio</span> 
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>		
	</div>
	<script>
		var toggle = true;
		$(".sidebar-icon").click(function() {
			if(toggle){
				$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
				$("#menu span").css({"position":"absolute"});
			} else {
				$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
				setTimeout(function() {
					$("#menu span").css({"position":"relative"});
				}, 400);
			}
			toggle = !toggle;
		});
	</script>
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
   	<script src="js/bootstrap.min.js"></script>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
  	<meta name="author" content="Sketsa">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<script src="tinymce/js/tinymce/tinymce.min.js"></script>
	<script>tinymce.init({ selector:'textarea' });</script>
	<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
	<style> 
		input[type=text],input[type=file] {
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    box-sizing: border-box;
		}
		.button2 {
		    background-color: white; 
		    color: black; 
		    border: 2px solid #008CBA;
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		}
		.button2:hover {
		    background-color: #008CBA;
		    color: white;
		}
		table {
		    border-collapse: collapse;
		    width: 100%;
		}

		th, td {
		    text-align: left;
		    padding: 8px;
		}
		tr:nth-child(even) {background-color: #f2f2f2;}
		tinymce.init({
		  selector: 'textarea',  // change this value according to your HTML
		  forced_root_block : 'p'
		});
	</style>
	<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		    $('#example').DataTable();
		});
	</script>
</head>
<body>
	<h3>Form Blog</h3>
		<div>
		  <form action="/admin/add" method="post" enctype="multipart/form-data">
		    <label for="title">Title</label><br>
		    <input type="text" name="title" placeholder="Title Blog.." required><br>

		    <label for="keyword">Keywords</label><br>
		    <input type="text" name="keyword" placeholder="Keywords .." required><br>

		    <label for="keyword">Image</label><br>
		    <input type="file" name="image" placeholder="Image .." required><br>

		    <label for="description">Description</label>
		    <textarea name="description"></textarea>
		    
		    <input type="hidden" name="time">

		    <input type="submit" class="button button2" value="Submit">
		  </form>
		</div>
		<table id="example" class="table table-hover" cellspacing="0" width="100%">
			<thead>
				<tr>
				    <th width=20%>Title</th>
				    <th width=10%>Keywords</th>
				    <th width=30%>Description</th>
				    <th width=20%>Time</th>
				    <th width=10%>Gambar</th>
				    <th width=10%>Action</th>
			  	</tr>
			</thead>
			{{#each data}}
			<tbody>
				<tr>
				    <td>{{title}}</td>
				    <td>{{keyword}}</td>
				    <td><p>{{{description}}}</p></td>
				    <td>{{time}}</td>
				    <td><img src="uploads/{{{image}}}" width=100 height=100 /></td>
				    <td>
				    	<form action="/admin/hapus" method="post" style="float:left;">
				    		<input type="hidden" name="_id" value="{{_id}}">
				    		<button type="submit">Hapus</button>
				    	</form>
				    	<form action="/admin/edit"  method="post" style="float:left;">
				    		<input type="hidden" name="_id" value="{{_id}}">
				    		<button>Edit</button>
				    	</form>
				    </td>
				</tr>
			</tbody>
			{{/each}}
		</table>
	</body>
</table>
</html>

 -->