<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
	  	<meta name="author" content="Sketsa">
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<script src="../tinymce/admin/js/tinymce/tinymce.min.js"></script>
		<script>tinymce.init({ selector:'textarea' });</script>
		<style> 
			input[type=text],input[type=file] {
			    width: 100%;
			    padding: 12px 20px;
			    margin: 8px 0;
			    box-sizing: border-box;
			}
			.button2 {
			    background-color: white; 
			    color: black; 
			    border: 2px solid #008CBA;
			    width: 100%;
			    padding: 12px 20px;
			    margin: 8px 0;
			}
			.button2:hover {
			    background-color: #008CBA;
			    color: white;
			}
			table {
			    border-collapse: collapse;
			    width: 100%;
			}

			th, td {
			    text-align: left;
			    padding: 8px;
			}
			tr:nth-child(even) {background-color: #f2f2f2;}
			tinymce.init({
			  selector: 'textarea',  // change this value according to your HTML
			  forced_root_block : 'p'
			});
		</style>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		 <!-- Bootstrap Core CSS -->
		<link href="admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
			<!-- Custom CSS -->
		<link href="admin/css/style.css" rel='stylesheet' type='text/css' />
			<!-- Graph CSS -->
		<link href="admin/css/font-awesome.css" rel="stylesheet"> 
			<!-- jQuery -->
		<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
			<!-- lined-icons -->
		<link rel="stylesheet" href="admin/css/icon-font.min.css" type='text/css' />
			<!-- /js -->
		<script src="admin/js/jquery-1.10.2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/jquery.dataTables.min.css">
	  	<script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
	  	<script type="text/javascript">
	  		$(document).ready(function(){
			    $('#myTable').DataTable();
			});
	  	</script>
	</head> 
<body>
   	<div class="page-container">
   	<!--/content-inner-->
		<div class="left-content">
	   		<div class="inner-content">
			<!-- header-starts -->
				<div class="header-section">
					<div class="clearfix"></div>
				</div>

					<div class="outter-wp">
						<div class="graph-visual tables-main">
							<h3 class="inner-tittle two">Masukan Table </h3>
							<div class="graph">
								<div class="tables">
									<table id="myTable" class="table table-bordered" width="100%" cellspacing="0">
										<thead> 
											<tr> 
												<th width=10%>Nama</th>
											    <th width=10%>Email</th>
											    <th width=10%>Subject</th>
											    <th width=20%>Time</th>
											    <th width=30%>Masukan</th>
											    <th width=20%>Aksi</th>
											</tr> 
										</thead> 
										<tbody> 
											{{#each data}}
												<tr> 
													<td>{{name}}</td>
												    <td>{{email}}</td>
												    <td>{{subject}}</td>
												    <td>{{time}}</td>
												    <td>{{comment}}</td>
												    <td>
												    	<form action="/masukan/hapus" method="post" style="float:left;">
												    		<input type="hidden" name="_id" value="{{_id}}">
												    		<input type="hidden" name="admin" value="{{admin}}">
												    		<button type="submit">Hapus</button>
												    	</form>
												    	<form action="/masukan/edit"  method="post" style="float:left;">
												    		<input type="hidden" name="_id" value="{{_id}}">
												    		<input type="hidden" name="admin" value="{{admin}}">
												    		<button>Balas</button>
												    	</form>
												    	<p style="float: left;" {{reply}}>✔</p>
												    </td> 
												</tr> 
											{{/each}}
										</tbody> 
									</table> 
								</div>
							</div>
						</div>
					</div>
				
			</div>
		</div>
		<div class="sidebar-menu">
			<header class="logo">
				<a href="#" class="sidebar-icon"> 
					<span class="fa fa-bars"></span> 
				</a> 
				<a href=""> 
					<span id="logo"> 
						<h1>Admin</h1>
					</span> 
				</a> 
			</header>
			<div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
			<div class="menu">
				<ul id="menu" >
					<li>
						<a href="/admin?admin={{admin}}">
							<i class="fa fa-laptop"></i> <span>Blog</span> 
						</a>
					</li>
					<li>
						<a href="/masukan?admin={{admin}}">
							<i class="fa fa-file-text-o"></i> <span>Masukan</span> 
						</a>
					</li>
					<li>
						<a href="/portofolioadmin?admin={{admin}}">
							<i class="fa fa-file-text-o"></i> <span>Portofolio</span> 
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>		
	</div>
	<script>
		var toggle = true;
		$(".sidebar-icon").click(function() {
			if(toggle){
				$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
				$("#menu span").css({"position":"absolute"});
			} else {
				$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
				setTimeout(function() {
					$("#menu span").css({"position":"relative"});
				}, 400);
			}
			toggle = !toggle;
		});
	</script>
	<script src="admin/js/jquery.nicescroll.js"></script>
	<script src="admin/js/scripts.js"></script>
   	<script src="admin/js/bootstrap.min.js"></script>
</body>
</html>