<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>Sketsa House – Company Profile</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="Sketsa House">
        <!-- description -->
        <meta name="description" content="Sketsa House over than 3 years experience for Public Relation, Creative, Media (Journalism), Design, Video Production, Creative Concept and Event Organizer for online or offline event">
        <!-- keywords -->
        <meta name="keywords" content="sketsa house,sketsa,house">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="css/magnific-popup.css" />
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav navbar-top header-light bg-transparent nav-box-width white-link">
                <div class="container-fluid nav-header-container">
                    <div class="row">
                        <!-- start logo -->
                        <div class="col-md-2 col-xs-5">
                            <a href="/" title="Pofo" class="logo"><img src="images/logo-sketsa2.png" data-at2x="images/logo-sketsa2.png" class="logo-dark" alt="Sketa House"><img src="images/logo-sketsa1.png" data-at2x="images/logo-sketsa1.png" alt="Pofo" class="logo-light default"></a>
                        </div>
                        <!-- end logo -->
                        <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
                            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                                <span class="sr-only">toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                                <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                                    <!-- start menu item -->
                                    <li class="dropdown megamenu-fw">
                                        <a href="/">Home</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                    <li class="dropdown simple-dropdown">
										<a href="/services">Services</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                    <li class="dropdown megamenu-fw">
                                        <a href="/portofolio">Portofolio</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                    <li class="dropdown simple-dropdown">
										<a href="/blog?skip=0&limit=10" title="Blog">Blog</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                    <li class="dropdown megamenu-fw">
                                        <a href="/aboutus">About Us</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                    <li class="dropdown megamenu-fw">
                                        <a href="/contact">Contact</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-5 width-auto">
                            <div class="header-social-icon xs-display-none">
                                <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://dribbble.com/" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>                          
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end navigation --> 
        </header>
        <!-- end header -->
        <!-- start page title section -->
       <section class="no-padding one-third-screen parallax wow fadeIn" style="background :url('images/header-web-sketsa-services.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-table one-third-screen page-title-large">
                        
                    </div>
                    <div class="down-section text-center"><a href="#section-down" class="inner-link"><i class="ti-arrow-down icon-extra-small text-white bg-deep-pink padding-15px-all xs-padding-10px-all border-radius-100"></i></a></div>
                    <div class="swiper-auto-fade swiper-container z-index-minus2 position-absolute top-0 width-100 height-100">
                </div>
                </div>
            </div>
        </section>
        <!-- end banner section -->
        <!-- start feature box section -->
        <section class="parallax wow fadeIn" style="background-image: url('images/background.jpg');" data-stellar-background-ratio="0.4" >
            <div class="container">
                <div class="row">
                    <!-- start feature box item -->
                    <div class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight">
                        <div class="padding-50px-all md-padding-40px-all bg-transparent xs-padding-30px-all text-center">
                            <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="images/services/creative-activation.png" alt="" style="width: 150px; height: 150px;" /></div>
                            <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Creative Activation</span>
                        </div>                    
                    </div>
                    <!-- end feature box block -->
                    <!-- start feature box item -->
                    <div class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight">
                        <div class="padding-50px-all md-padding-40px-all bg-transparent xs-padding-30px-all text-center">
                            <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="images/services/digital-media-marketing.png" alt="" style="width: 150px; height: 150px;"/></div>
                            <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Digital Media Marketing</span>
                        </div>                    
                    </div>
                    <!-- end feature box block -->
                    <!-- start feature box item -->
                    <div class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight">
                        <div class="padding-50px-all md-padding-40px-all bg-transparent xs-padding-30px-all text-center">
                            <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="images/services/ecommerce-development.png" alt="" style="width: 150px; height: 150px;"/></div>
                            <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">E-commerce Development</span>
                        </div>                    
                    </div>
                    <!-- end feature box block -->
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <!-- start feature box item -->
                    <div class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight">
                        <div class="padding-50px-all md-padding-40px-all bg-transparent xs-padding-30px-all text-center">
                            <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="images/services/event-organizer.png" alt="" style="width: 150px; height: 150px;" /></div>
                            <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Event Organizer</span>
                        </div>                    
                    </div>
                    <!-- end feature box block -->
                    <!-- start feature box item -->
                    <div class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight">
                        <div class="padding-50px-all md-padding-40px-all bg-transparent xs-padding-30px-all text-center">
                            <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="images/services/graphic-design.png" alt="" style="width: 150px; height: 150px;"/></div>
                            <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Grapich Design</span>
                        </div>                    
                    </div>
                    <!-- end feature box block -->
                    <!-- start feature box item -->
                    <div class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight">
                        <div class="padding-50px-all md-padding-40px-all bg-transparent xs-padding-30px-all text-center">
                            <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="images/services/media-coordinator.png" alt="" style="width: 150px; height: 150px;"/></div>
                            <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Media Coordinator</span>
                        </div>                    
                    </div>
                    <!-- end feature box block -->
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <!-- start feature box item -->
                    <div class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight">
                        <div class="padding-50px-all md-padding-40px-all bg-transparent xs-padding-30px-all text-center">
                            <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="images/services/social-media.png" alt="" style="width: 150px; height: 150px;" /></div>
                            <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Social Media</span>
                        </div>                    
                    </div>
                    <!-- end feature box block -->
                    <!-- start feature box item -->
                    <div class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight">
                        <div class="padding-50px-all md-padding-40px-all bg-transparent xs-padding-30px-all text-center">
                            <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="images/services/video-production.png" alt="" style="width: 150px; height: 150px;"/></div>
                            <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Video Production</span>
                        </div>                    
                    </div>
                    <!-- end feature box block -->
                    <!-- start feature box item -->
                    <div class="col-md-4 last-paragraph-no-margin sm-margin-30px-bottom wow fadeInRight">
                        <div class="padding-50px-all md-padding-40px-all bg-transparent xs-padding-30px-all text-center">
                            <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="images/services/website-development.png" alt="" style="width: 150px; height: 150px;"/></div>
                            <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Website Development</span>
                        </div>                    
                    </div>
                    <!-- end feature box block -->
                </div>
            </div>
        </section>
        <!-- end feature box section -->
        <!-- start feature box section -->
        <section class="wow fadeIn md-padding-two-lr">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-9 center-col margin-eight-bottom text-center last-paragraph-no-margin">
                        <div class="alt-font text-deep-pink margin-10px-bottom text-uppercase text-small">Find more creative ideas for your projects</div>
                        <h5 class="alt-font text-extra-dark-gray font-weight-600">Build perfect websites, Beautifully handcrafted templates for your website</h5>                        
                    </div>
                </div>
                <div class="row equalize">
                    <!-- start feature box item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-six-bottom md-margin-six-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
                        <div class="feature-box-5 position-relative">
                            <i class="icon-desktop text-medium-gray icon-medium"></i>
                            <div class="feature-content">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font font-weight-600">Segmented Branding</div>
                                <p>We are a good listener for our client as a friend. We delivered positive branding as it
needed. Selected channel with the right segment is the first service we like to provide.
Facebook, Instagram, Twitter, Youtube and many others social media are some of channel
that we can push for branding, so do with offair event. Corporate website development are
the others way to increase positive branding from internal to external, as long we choose
the right strategy for it. Lets Talks!</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-six-bottom md-margin-six-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                        <div class="feature-box-5 position-relative">
                            <i class="icon-pricetags text-medium-gray icon-medium"></i>
                            <div class="feature-content">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font font-weight-600">Ideas &amp; Design</div>
                                <p>We are a good listener for our client as a friend. Small discussion or just easy talks at the
coffee shop can be first step to create a big ideas with a big goal. What we present is what
you share. Colors, shapping, angle, script and activation are a huge element thar we can
combine to create a base idea and design until it become an effective final adworks. Lets
Talks!</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item-->
                    <!-- start feature box item-->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-six-bottom md-margin-six-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                        <div class="feature-box-5 position-relative">
                            <i class="icon-pictures text-medium-gray icon-medium"></i>
                            <div class="feature-content">
                                <div class="text-extra-dark-gray margin-10px-bottom alt-font font-weight-600">Graphics Design</div>
                                <p>Smart and friendly design is what we present for our client. Effective design not just working
for some detail or complecated design, sometimes a simple presentation with clear object
can be an effective design. Find how its works, Lets Talks!</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item-->
                </div>
            </div>
        </section>
        <!-- end subscribe section -->
        <!-- start footer --> 
        <footer class="footer-classic-dark bg-extra-dark-gray padding-five-bottom xs-padding-30px-bottom">
            <div class=" padding-50px-tb xs-padding-30px-tb" style="background-color: #f15b5a">
                <div class="container">
                    <div class="row equalize xs-equalize-auto">
                        <!-- start slogan -->
                        <div class="col-md-4 col-sm-5 col-xs-12 text-center alt-font display-table xs-text-center xs-margin-15px-bottom">
                            <div class="display-table-cell vertical-align-middle">
                                
                            </div>
                        </div>
                        <!-- end slogan -->
                        <!-- start logo -->
                        <div class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom">
                            <div class="display-table-cell vertical-align-middle">
                                <a href="/services"><img class="footer-logo" src="images/logo-sketsa1.png" data-at2x="images/logo-sketsa1.png" alt="Sketsa House"></a>
                            </div>
                        </div>
                        <!-- end logo -->
                        <!-- start social media -->
                        <div class="col-md-4 col-sm-5 col-xs-12 col-xs-12 text-center display-table xs-text-center">
                            <div class="display-table-cell vertical-align-middle">
                                <span class="alt-font margin-20px-right" style="color: white;">On social networks</span>
                                <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                                    <ul class="small-icon no-margin-bottom">
                                        <li><a class="facebook text-white" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a class="twitter text-white" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="google text-white" href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="instagram text-white" href="https://instagram.com/" target="_blank"><i class="fa fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end social media -->
                    </div>
                </div>
            </div>
            <div class="footer-widget-area padding-five-top padding-30px-bottom xs-padding-30px-top">
                <div class="container">
                    <div class="row">
                        <!-- start about -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom xs-text-center">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">About Sketsa House</div>
                            <p class="text-small width-95 xs-width-100 no-margin">Sketsa House over than 3 years experience for Public Relation, Creative, Media
                        (Journalism), Design, Video Production, Creative Concept and Event Organizer for
                        online or offline event. Every small part of our creativity always start with talk, and
                        detailing analitic sceme of our clients.</p>
                        </div>
                        <!-- end about -->
                        <!-- start blog post -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600 xs-text-center">Latest Blog Post</div>
                            <ul class="latest-post position-relative top-4">
                                {{#each datafooter}}
                                    <li class="border-bottom border-color-medium-dark-gray">
                                        <figure>
                                            <a href="/blog/{{title}}"><img src="uploads/{{image}}" alt="{{image}}" style="width: 70px; height: 45px;"></a>
                                        </figure>
                                        <div class="text-small"><a href="/blog/{{title}}/{{_id}}">{{title}}...</a> <span class="clearfix"></span>{{time}}</div>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                        <!-- end blog post -->
                        <!-- start newsletter -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom xs-text-center">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">Contact</div>
                            <p class="text-small width-90 xs-width-100"><span>Phone</span>: (021) 214 3923 
                                <br>
                                <span>Email</span>: admin@sketsahouse.com
                                <br>
                            Jl. Percetakan Negara XI No. 37, Rawasari, Jakarta Pusat 10570.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom xs-text-center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.55662693748!2d106.86149431431323!3d-6.190032995518725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f458b645ef25%3A0x33840d0b815151a!2sSketsa+House!5e0!3m2!1sid!2sid!4v1512026968169" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer-bottom border-top border-color-medium-dark-gray padding-30px-top">
                    <div class="row">
                        <!-- start copyright -->
                        <div class="col-md-6 col-sm-6 col-xs-12 text-left text-small xs-text-center">Sketsa House</div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right text-small xs-text-center">&COPY; 2017 Sketsa House is Proudly Powered by <a href="" target="_blank" title="sketsahouse">Admin Sketsa House</a></div>
                        <!-- end copyright -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/skrollr.min.js"></script>
        <script type="text/javascript" src="js/smooth-scroll.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="js/bootsnav.js"></script>
        <script type="text/javascript" src="js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="js/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="js/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="js/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="js/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="js/classie.js"></script>
        <script type="text/javascript" src="js/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <!-- equalize -->
        <script type="text/javascript" src="js/equalize.min.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="js/skill.bars.jquery.js"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="js/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
        <!-- instagram -->
        <script type="text/javascript" src="js/instafeed.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="js/retina.min.js"></script>
        <!-- revolution -->
        <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>